.div{
  width:200px;
  height:200px;
  background-color: #5bc0de;
}
.divTransition-enter{
  transform: scale(1.2);
  transition: transform 0.3s;
}

.divTransition-enter-active{
  transform: scale(1);
}

.divTransition-leave {
  transform: translateY(0);
  opacity: 0;
  transition: transform 1s, opacity 1.2s;
}

.divTransition-leave-active{
  opacity:0;
  transform: translateY(-100%);
}